body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  h1 {
    color: #333;
    text-align: left;
  }

  .sellbox {
    background-color: #333;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }

